/*zakladni uprava vždy na začátek*/

* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

/*reusable*/
.row{
    width: 1140px;
    margin:0 auto;
}



/*body*/

body{
    background-color: #252A27;
}

/*header*/

header{
    background: url("images/kocka_zlata_pozadi.png"); 
    height:100vh;
    background-size: cover;
    height: 100vh;
}

.header_navigace{
    color:blue
}


.header_text{
    position:absolute;
    top: 10%;
    left: 54%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#E1CD93;
}

header h1{
    font-size: 6.5vh;
}

header h2{
    text-align: center;
    font-size: 3.5vh;;
}

/*main*/
main{
    background-color: #252A27;
}

main p{
    color: #E1CD93;
    text-align: justify;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}

/*footer*/

footer{
    background-color: #252A27;
    padding-top: 30px;
} 

footer p{
    font-size: 1vh;
    color: #E1CD93;
    position: absolute;
    right: 15vh;
}


footer a{
    text-decoration: none;
    font-size: 1vh;
    color: #E1CD93;
    position: absolute;
    right:30vh;
        
}

footer a:hover{
    text-decoration: underline;
    color: yellow;
}


/*clearfix*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }